### Run All Cells To Create the KingDB Database

In [1]:
# importing pandas
import pandas as pd

# importing sqlite
import sqlite3

# creating database, connection, and cursor
conn = sqlite3.connect('KingDB.db')  
cur = conn.cursor()

In [2]:
# create paths to the files
files = ['EXTR_RPSale.csv', 'EXTR_ResBldg.csv', 'EXTR_Parcel.csv']
paths = [f'../../data/raw/{file}' for file in files]

# create list of data frames importing data as strings
dfs = [pd.read_csv(path, dtype=str) for path in paths]

In [3]:
# create sales dataframe
read_sale = pd.read_csv (paths[0], dtype=str)
# Insert the values from the csv file into the table 'SALES' 
read_sale.to_sql('SALES', conn, if_exists='append', index = False)

# create resbldg
read_resb = pd.read_csv (paths[1], dtype=str)
# Replace the values from the csv file into the table 'RESB'
read_resb.to_sql('RESB', conn, if_exists='replace', index = False)

# create parcel
read_parc = pd.read_csv (paths[2], dtype=str)
# Replace the values from the csv file into the table 'PARC'
read_parc.to_sql('PARC', conn, if_exists='replace', index = False)

/Users/dsbox/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(