### Importing Libraries and Adjusting Settings

In [1]:
# import modules for eda and plotting
import pandas as pd
import numpy as np
import scipy.stats as stats

import sqlite3

from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

import matplotlib.pyplot as plt
import seaborn as sns

import functions as fn

# setting plots to inline
%matplotlib inline

# setting the max number of rows displayed
pd.options.display.max_rows = 250

### Creating Data Frames

In [2]:
# creating paths to the files
files = ['EXTR_RPSale.csv', 'EXTR_ResBldg.csv', 'EXTR_Parcel.csv', 'EXTR_LookUp.csv']
paths = [f'../../data/raw/{file}' for file in files]

# creating list of data frames, importing data as strings
dfs = [pd.read_csv(path, dtype=str) for path in paths]

# isolating individual data frames
SALE = dfs[0]
RESB = dfs[1]
PARC = dfs[2]
LOOK = dfs[3]

### Creating `ID` Column
Creating `ID` column in each data frame by concatenating `Major` & `Minor` strings

In [3]:
SALE['ID'] = SALE['Major'] + SALE['Minor']
RESB['ID'] = RESB['Major'] + RESB['Minor']
PARC['ID'] = PARC['Major'] + PARC['Minor']

### Testing `ID` String and Inspecting Data
Filtering for a specific `ID` in each of the data frames.

### SALE Data Frame

In [7]:
print(SALE[SALE['ID']=='0822119001'].shape)
SALE[SALE['ID']=='0822119001']

(10, 25)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,ID
92009,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,6,15,N,N,N,N,1,8,1,0822119001
107851,2896045,082211,9001,08/29/2017,28500,20171019000521,,,,,...,6,26,N,N,N,N,18,7,1,0822119001
126403,2789810,082211,9001,03/14/2016,0,20160413000590,,,,,...,6,24,N,N,N,N,8,8,12 31 51,0822119001
189866,3017542,082211,9001,10/21/2019,70000,20191028001102,,,,,...,6,26,N,N,N,N,1,8,,0822119001
192146,3017076,082211,9001,10/21/2019,70000,,,,,,...,6,26,N,N,N,N,18,8,,0822119001
278894,2900407,082211,9001,11/01/2017,71500,,,,,,...,6,26,N,N,N,N,18,8,1,0822119001
280452,2740512,082211,9001,06/26/2015,48000,20150701000317,,,,,...,6,26,N,N,N,N,18,8,,0822119001
309734,3017115,082211,9001,10/21/2019,70000,20191025000752,,,,,...,6,26,N,N,N,N,1,8,,0822119001
346494,2905723,082211,9001,08/29/2017,0,2896045,,,,,...,6,26,N,N,N,N,16,7,20 31,0822119001
346927,2754177,082211,9001,08/28/2015,43000,20150904000997,,,,,...,6,26,N,N,N,N,18,8,,0822119001

### Narrowing Down Features to Get Context

In [23]:
EXPL1 = SALE[SALE['ID']=='0822119001']
EXPL1[['SalePrice', 'ID', 'ExciseTaxNbr',\
          'RecordingNbr','DocumentDate', 'PropertyType']]

,SalePrice,ID,ExciseTaxNbr,RecordingNbr,DocumentDate,PropertyType
92009,85000,0822119001,2829379,20161021001126,09/30/2016,0
107851,28500,0822119001,2896045,20171019000521,08/29/2017,1
126403,0,0822119001,2789810,20160413000590,03/14/2016,3
189866,70000,0822119001,3017542,20191028001102,10/21/2019,0
192146,70000,0822119001,3017076,,10/21/2019,3
278894,71500,0822119001,2900407,,11/01/2017,6
280452,48000,0822119001,2740512,20150701000317,06/26/2015,1
309734,70000,0822119001,3017115,20191025000752,10/21/2019,0
346494,0,0822119001,2905723,2896045,08/29/2017,1
346927,43000,0822119001,2754177,20150904000997,08/28/2015,96

## Corruption!!!
It looks like there are five corrupt rows with either a 0 `SalePrice` or a 0 `PropertyType`

In [24]:
print(RESB[RESB['ID']=='0822119001'].shape)
RESB[RESB['ID']=='0822119001']

(21, 51)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,ID
59918,082211,9001,20,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,4,0,0822119001
59919,082211,9001,1,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1957,0,0,25,0,3,0,0822119001
59920,082211,9001,14,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59921,082211,9001,17,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1946,0,0,25,0,4,0,0822119001
59922,082211,9001,5,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59923,082211,9001,15,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1950,0,0,25,0,3,0,0822119001
59924,082211,9001,11,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59925,082211,9001,9,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1957,0,0,25,0,3,0,0822119001
59926,082211,9001,12,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1959,0,0,25,0,3,0,0822119001
59927,082211,9001,13,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,4,0,0822119001
59928,082211,9001,19,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59929,082211,9001,2,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59930,082211,9001,16,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,2,0,0822119001
59931,082211,9001,21,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1946,0,0,25,0,3,0,0822119001
59932,082211,9001,4,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1957,0,0,25,0,3,0,0822119001
59933,082211,9001,3,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1957,0,0,25,0,3,0,0822119001
59934,082211,9001,18,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1959,0,0,25,0,3,0,0822119001
59935,082211,9001,7,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1959,0,0,25,0,3,0,0822119001
59936,082211,9001,10,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59937,082211,9001,6,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001
59938,082211,9001,8,1,20904 677TH PL SE 98045,20904,,,677TH,PL,...,0,0,1940,0,0,25,0,3,0,0822119001

In [25]:
EXPL2 = RESB[RESB['ID']=='0822119001']
print('len: ', len(EXPL2))
print('BldgNbr len', len(EXPL2['BldgNbr']))
EXPL2[['ID', 'Address', 'BldgNbr']]

len:  21
BldgNbr len 21

               ID                     Address BldgNbr
59918  0822119001  20904   677TH PL SE  98045      20
59919  0822119001  20904   677TH PL SE  98045       1
59920  0822119001  20904   677TH PL SE  98045      14
59921  0822119001  20904   677TH PL SE  98045      17
59922  0822119001  20904   677TH PL SE  98045       5
59923  0822119001  20904   677TH PL SE  98045      15
59924  0822119001  20904   677TH PL SE  98045      11
59925  0822119001  20904   677TH PL SE  98045       9
59926  0822119001  20904   677TH PL SE  98045      12
59927  0822119001  20904   677TH PL SE  98045      13
59928  0822119001  20904   677TH PL SE  98045      19
59929  0822119001  20904   677TH PL SE  98045       2
59930  0822119001  20904   677TH PL SE  98045      16
59931  0822119001  20904   677TH PL SE  98045      21
59932  0822119001  20904   677TH PL SE  98045       4
59933  0822119001  20904   677TH PL SE  98045       3
59934  0822119001  20904   677TH PL SE  98045      18
59935  0822119001  20904   677TH PL SE  98045       7
59936  0822119001  20904   677TH PL SE  98045      10
59937  0822119001  20904   677TH PL SE  98045       6
59938  0822119001  20904   677TH PL SE  98045       8

In [26]:
print(PARC[PARC['ID']=='0822119001'].shape)
PARC[PARC['ID']=='0822119001'].head(1)

(1, 83)

,Unnamed: 0,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems,ID
46768,139958,082211,9001,,NaN,,,11,22,8,...,N,N,N,N,N,N,N,N,N,0822119001

In [27]:
MERG = pd.merge(SALE, RESB, on='ID')
print(MERG.shape)
MERG.head()

(251300, 75)

,ExciseTaxNbr,Major_x,Minor_x,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,1,0,1,1963,0,0,0,0,3,0
1,2743356,638580,0110,07/14/2015,0,20150715002687,,,,,...,1,0,1,1963,0,0,0,0,3,0
2,2772937,638580,0110,12/21/2015,338000,20151222002066,,,,,...,1,0,1,1963,0,0,0,0,3,0
3,2841697,894677,0240,12/21/2016,818161,20161228000896,,,,,...,0,0,0,2016,0,0,0,0,3,0
4,3024468,894677,0240,12/05/2019,0,20191209000162,,,,,...,0,0,0,2016,0,0,0,0,3,0

In [28]:
print(MERG[MERG['ID']=='0822119001'].shape)
MERG[MERG['ID']=='0822119001'].head()

(210, 75)

,ExciseTaxNbr,Major_x,Minor_x,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
98012,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,0,0,0,1940,0,0,25,0,4,0
98013,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,0,0,0,1957,0,0,25,0,3,0
98014,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,0,0,0,1940,0,0,25,0,3,0
98015,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,0,0,0,1946,0,0,25,0,4,0
98016,2829379,082211,9001,09/30/2016,85000,20161021001126,,,,,...,0,0,0,1940,0,0,25,0,3,0

In [29]:
MERG[MERG.duplicated()]

Empty DataFrame
Columns: [ExciseTaxNbr, Major_x, Minor_x, DocumentDate, SalePrice, RecordingNbr, Volume, Page, PlatNbr, PlatType, PlatLot, PlatBlock, SellerName, BuyerName, PropertyType, PrincipalUse, SaleInstrument, AFForestLand, AFCurrentUseLand, AFNonProfitUse, AFHistoricProperty, SaleReason, PropertyClass, SaleWarning, ID, Major_y, Minor_y, BldgNbr, NbrLivingUnits, Address, BuildingNumber, Fraction, DirectionPrefix, StreetName, StreetType, DirectionSuffix, ZipCode, Stories, BldgGrade, BldgGradeVar, SqFt1stFloor, SqFtHalfFloor, SqFt2ndFloor, SqFtUpperFloor, SqFtUnfinFull, SqFtUnfinHalf, SqFtTotLiving, SqFtTotBasement, SqFtFinBasement, FinBasementGrade, SqFtGarageBasement, SqFtGarageAttached, DaylightBasement, SqFtOpenPorch, SqFtEnclosedPorch, SqFtDeck, HeatSystem, HeatSource, BrickStone, ViewUtilization, Bedrooms, BathHalfCount, Bath3qtrCount, BathFullCount, FpSingleStory, FpMultiStory, FpFreestanding, FpAdditional, YrBuilt, YrRenovated, PcntComplete, Obsolescence, PcntNetCondition, Condition, AddnlCost]
Index: []

[0 rows x 75 columns]

### Light Data Cleaning
Changing `DocumentDate` strings into `datetime` objects, adding a `DocumentYear` column, and converting `SalePrice` to `Float` type.

In [30]:
# changing date strings to datetime objects
MERG.DocumentDate = pd.to_datetime(MERG.DocumentDate)

# adding a document year column
MERG['DocumentYear'] = MERG['DocumentDate'].apply(lambda x: x.year)

# converting SalePrice string to float
MERG['SalePrice'] = MERG['SalePrice'].astype('float')

In [31]:
print('SALE_08 shape: ', SALE[SALE['ID']=='0822119001'].shape)
print('RESB_08 Shape: ', RESB[RESB['ID']=='0822119001'].shape)
print('MERG_08 Shape: ', MERG[MERG['ID']=='0822119001'].shape)

SALE_08 shape:  (10, 25)
RESB_08 Shape:  (21, 51)
MERG_08 Shape:  (210, 76)

In [32]:
TEST = MERG[['SalePrice', 'ID', 'ExciseTaxNbr',\
          'RecordingNbr','DocumentDate',\
          'Address', 'BldgNbr', 'PropertyType']]

In [33]:
SETH = TEST[TEST['ID']=='0822119001'].copy()
SETH

,SalePrice,ID,ExciseTaxNbr,RecordingNbr,DocumentDate,Address,BldgNbr,PropertyType
98012,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,20,0
98013,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,1,0
98014,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,14,0
98015,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,17,0
98016,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,5,0
98017,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,15,0
98018,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,11,0
98019,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,9,0
98020,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,12,0
98021,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,13,0
98022,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,19,0
98023,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,2,0
98024,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,16,0
98025,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,21,0
98026,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,4,0
98027,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,3,0
98028,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,18,0
98029,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,7,0
98030,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,10,0
98031,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,6,0
98032,85000.0,0822119001,2829379,20161021001126,2016-09-30,20904 677TH PL SE 98045,8,0
98033,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,20,1
98034,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,1,1
98035,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,14,1
98036,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,17,1
98037,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,5,1
98038,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,15,1
98039,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,11,1
98040,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,9,1
98041,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,12,1
98042,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,13,1
98043,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,19,1
98044,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,2,1
98045,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,16,1
98046,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,21,1
98047,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,4,1
98048,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,3,1
98049,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,18,1
98050,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,7,1
98051,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,10,1
98052,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,6,1
98053,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,8,1
98054,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,20,3
98055,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,1,3
98056,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,14,3
98057,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,17,3
98058,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,5,3
98059,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,15,3
98060,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,11,3
98061,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,9,3
98062,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,12,3
98063,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,13,3
98064,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,19,3
98065,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,2,3
98066,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,16,3
98067,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,21,3
98068,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,4,3
98069,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,3,3
98070,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,18,3
98071,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,7,3
98072,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,10,3
98073,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,6,3
98074,0.0,0822119001,2789810,20160413000590,2016-03-14,20904 677TH PL SE 98045,8,3
98075,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,20,0
98076,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,1,0
98077,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,14,0
98078,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,17,0
98079,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,5,0
98080,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,15,0
98081,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,11,0
98082,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,9,0
98083,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,12,0
98084,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,13,0
98085,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,19,0
98086,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,2,0
98087,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,16,0
98088,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,21,0
98089,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,4,0
98090,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,3,0
98091,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,18,0
98092,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,7,0
98093,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,10,0
98094,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,6,0
98095,70000.0,0822119001,3017542,20191028001102,2019-10-21,20904 677TH PL SE 98045,8,0
98096,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,20,3
98097,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,1,3
98098,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,14,3
98099,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,17,3
98100,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,5,3
98101,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,15,3
98102,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,11,3
98103,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,9,3
98104,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,12,3
98105,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,13,3
98106,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,19,3
98107,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,2,3
98108,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,16,3
98109,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,21,3
98110,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,4,3
98111,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,3,3
98112,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,18,3
98113,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,7,3
98114,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,10,3
98115,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,6,3
98116,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,8,3
98117,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,20,6
98118,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,1,6
98119,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,14,6
98120,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,17,6
98121,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,5,6
98122,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,15,6
98123,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,11,6
98124,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,9,6
98125,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,12,6
98126,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,13,6
98127,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,19,6
98128,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,2,6
98129,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,16,6
98130,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,21,6
98131,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,4,6
98132,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,3,6
98133,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,18,6
98134,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,7,6
98135,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,10,6
98136,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,6,6
98137,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,8,6
98138,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,20,1
98139,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,1,1
98140,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,14,1
98141,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,17,1
98142,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,5,1
98143,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,15,1
98144,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,11,1
98145,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,9,1
98146,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,12,1
98147,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,13,1
98148,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,19,1
98149,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,2,1
98150,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,16,1
98151,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,21,1
98152,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,4,1
98153,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,3,1
98154,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,18,1
98155,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,7,1
98156,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,10,1
98157,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,6,1
98158,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,8,1
98159,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,20,0
98160,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,1,0
98161,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,14,0
98162,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,17,0
98163,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,5,0
98164,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,15,0
98165,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,11,0
98166,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,9,0
98167,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,12,0
98168,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,13,0
98169,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,19,0
98170,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,2,0
98171,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,16,0
98172,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,21,0
98173,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,4,0
98174,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,3,0
98175,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,18,0
98176,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,7,0
98177,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,10,0
98178,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,6,0
98179,70000.0,0822119001,3017115,20191025000752,2019-10-21,20904 677TH PL SE 98045,8,0
98180,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,20,1
98181,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,1,1
98182,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,14,1
98183,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,17,1
98184,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,5,1
98185,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,15,1
98186,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,11,1
98187,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,9,1
98188,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,12,1
98189,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,13,1
98190,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,19,1
98191,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,2,1
98192,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,16,1
98193,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,21,1
98194,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,4,1
98195,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,3,1
98196,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,18,1
98197,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,7,1
98198,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,10,1
98199,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,6,1
98200,0.0,0822119001,2905723,2896045,2017-08-29,20904 677TH PL SE 98045,8,1
98201,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,20,96
98202,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,1,96
98203,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,14,96
98204,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,17,96
98205,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,5,96
98206,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,15,96
98207,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,11,96
98208,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,9,96
98209,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,12,96
98210,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,13,96
98211,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,19,96
98212,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,2,96
98213,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,16,96
98214,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,21,96
98215,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,4,96
98216,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,3,96
98217,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,18,96
98218,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,7,96
98219,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,10,96
98220,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,6,96
98221,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,8,96

In [37]:
def len_print(df, li):
    for x in li:
        print(f'{x}: ', len(df[x].unique()))

In [38]:
li = ['SalePrice', 'ID', 'ExciseTaxNbr',\
          'RecordingNbr','DocumentDate',\
          'Address', 'BldgNbr', 'PropertyType']
len_print(SETH, li)

SalePrice:  7
ID:  1
ExciseTaxNbr:  10
RecordingNbr:  9
DocumentDate:  7
Address:  1
BldgNbr:  21
PropertyType:  5

In [48]:
drop_list = SETH[SETH['SalePrice']==0].index
SETH.drop(drop_list, inplace=True)

In [49]:
SETH

,SalePrice,ID,ExciseTaxNbr,RecordingNbr,DocumentDate,Address,BldgNbr,PropertyType
98033,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,20,1
98034,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,1,1
98035,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,14,1
98036,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,17,1
98037,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,5,1
98038,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,15,1
98039,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,11,1
98040,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,9,1
98041,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,12,1
98042,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,13,1
98043,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,19,1
98044,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,2,1
98045,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,16,1
98046,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,21,1
98047,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,4,1
98048,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,3,1
98049,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,18,1
98050,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,7,1
98051,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,10,1
98052,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,6,1
98053,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,8,1
98096,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,20,3
98097,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,1,3
98098,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,14,3
98099,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,17,3
98100,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,5,3
98101,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,15,3
98102,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,11,3
98103,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,9,3
98104,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,12,3
98105,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,13,3
98106,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,19,3
98107,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,2,3
98108,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,16,3
98109,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,21,3
98110,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,4,3
98111,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,3,3
98112,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,18,3
98113,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,7,3
98114,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,10,3
98115,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,6,3
98116,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,8,3
98117,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,20,6
98118,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,1,6
98119,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,14,6
98120,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,17,6
98121,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,5,6
98122,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,15,6
98123,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,11,6
98124,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,9,6
98125,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,12,6
98126,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,13,6
98127,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,19,6
98128,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,2,6
98129,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,16,6
98130,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,21,6
98131,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,4,6
98132,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,3,6
98133,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,18,6
98134,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,7,6
98135,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,10,6
98136,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,6,6
98137,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,8,6
98138,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,20,1
98139,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,1,1
98140,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,14,1
98141,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,17,1
98142,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,5,1
98143,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,15,1
98144,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,11,1
98145,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,9,1
98146,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,12,1
98147,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,13,1
98148,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,19,1
98149,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,2,1
98150,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,16,1
98151,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,21,1
98152,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,4,1
98153,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,3,1
98154,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,18,1
98155,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,7,1
98156,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,10,1
98157,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,6,1
98158,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,8,1
98201,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,20,96
98202,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,1,96
98203,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,14,96
98204,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,17,96
98205,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,5,96
98206,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,15,96
98207,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,11,96
98208,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,9,96
98209,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,12,96
98210,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,13,96
98211,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,19,96
98212,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,2,96
98213,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,16,96
98214,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,21,96
98215,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,4,96
98216,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,3,96
98217,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,18,96
98218,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,7,96
98219,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,10,96
98220,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,6,96
98221,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,8,96

In [41]:
drop_list = SETH[SETH['PropertyType']=='0'].index
SETH.drop(drop_list, inplace=True)

In [50]:
print(len_print(SETH, li))
print(SETH.shape)
SETH.sort_values(by='DocumentDate')

SalePrice:  5
ID:  1
ExciseTaxNbr:  5
RecordingNbr:  4
DocumentDate:  5
Address:  1
BldgNbr:  21
PropertyType:  4
None
(105, 8)

,SalePrice,ID,ExciseTaxNbr,RecordingNbr,DocumentDate,Address,BldgNbr,PropertyType
98158,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,8,1
98156,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,10,1
98155,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,7,1
98154,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,18,1
98153,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,3,1
98152,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,4,1
98151,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,21,1
98150,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,16,1
98149,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,2,1
98157,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,6,1
98148,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,19,1
98146,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,12,1
98145,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,9,1
98144,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,11,1
98143,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,15,1
98142,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,5,1
98141,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,17,1
98140,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,14,1
98139,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,1,1
98147,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,13,1
98138,48000.0,0822119001,2740512,20150701000317,2015-06-26,20904 677TH PL SE 98045,20,1
98221,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,8,96
98202,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,1,96
98219,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,10,96
98218,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,7,96
98217,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,18,96
98216,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,3,96
98215,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,4,96
98214,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,21,96
98213,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,16,96
98212,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,2,96
98211,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,19,96
98210,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,13,96
98209,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,12,96
98208,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,9,96
98207,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,11,96
98206,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,15,96
98205,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,5,96
98204,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,17,96
98203,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,14,96
98201,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,20,96
98220,43000.0,0822119001,2754177,20150904000997,2015-08-28,20904 677TH PL SE 98045,6,96
98033,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,20,1
98043,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,19,1
98050,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,7,1
98049,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,18,1
98048,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,3,1
98047,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,4,1
98046,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,21,1
98045,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,16,1
98044,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,2,1
98053,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,8,1
98042,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,13,1
98041,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,12,1
98040,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,9,1
98039,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,11,1
98038,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,15,1
98037,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,5,1
98036,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,17,1
98035,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,14,1
98034,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,1,1
98051,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,10,1
98052,28500.0,0822119001,2896045,20171019000521,2017-08-29,20904 677TH PL SE 98045,6,1
98118,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,1,6
98117,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,20,6
98127,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,19,6
98136,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,6,6
98134,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,7,6
98133,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,18,6
98132,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,3,6
98131,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,4,6
98130,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,21,6
98129,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,16,6
98128,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,2,6
98135,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,10,6
98137,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,8,6
98125,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,12,6
98124,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,9,6
98123,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,11,6
98122,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,15,6
98121,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,5,6
98120,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,17,6
98119,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,14,6
98126,71500.0,0822119001,2900407,,2017-11-01,20904 677TH PL SE 98045,13,6
98116,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,8,3
98112,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,18,3
98115,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,6,3
98111,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,3,3
98110,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,4,3
98109,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,21,3
98108,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,16,3
98107,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,2,3
98106,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,19,3
98114,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,10,3
98113,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,7,3
98104,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,12,3
98102,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,11,3
98101,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,15,3
98100,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,5,3
98099,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,17,3
98098,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,14,3
98097,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,1,3
98096,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,20,3
98103,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,9,3
98105,70000.0,0822119001,3017076,,2019-10-21,20904 677TH PL SE 98045,13,3