# King County Project

## Business Problem

A client in King County, WA wants to advise homeowners on **home improvement projects** that will **add to the sale value of their homes**.

**This advice should be based on data from the most recent full calendar year, 2019**.

### Core questions:
Enclosing a porch will increase the sale price of a home.

Converting a garage to a bedroom is a good way to increase the sale price of a home.

Upgrading to a forced-air heating system will increase the sale price of a home.

### Core Goals:
Create model

Interpret results

Make recomendations

## Schedule

### Friday 2/19: 
#### Business Understanding & Preliminary EDA
* Repo Creation
* Data Importation
* Database Creation
* Created initial data frame.

### Saturday 2/20: 
#### Data Understanding & EDA
* Added ```.gitignore``` file in exploratory directory to exclude ```KingDB.db``` file.
* Created ```lookup()``` function.
* Created 2019 data frame.
* Isolated target and each of two initial predictors into dataframes.

### Sunday 2/21: 
##### Data Prep & Base Model

# Initial EDA Work

#### Importing Libraries and Adjusting Settings

In [1]:
# import modules for eda and plotting
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

# setting plots to inline
%matplotlib inline

# setting the max number of rows displayed
pd.options.display.max_rows = 200

## Pandas Dataframe

#### Importing the Data & Creating Initial Data Frames

Importing data and creating various data frames. Checking ```.shape```, nulls, and looking for problematic columns I may need to deal with later.

In [2]:
# creating paths to the files
files = ['EXTR_RPSale.csv', 'EXTR_ResBldg.csv', 'EXTR_Parcel.csv', 'EXTR_LookUp.csv']
paths = [f'../../data/raw/{file}' for file in files]

# creating list of data frames, importing data as strings
dfs = [pd.read_csv(path, dtype=str) for path in paths]

# isolating individual data frames
df_sale = dfs[0]
df_resb = dfs[1]
df_parc = dfs[2]
df_look = dfs[3]

In [3]:
# checking shape of the dataframes
df_sale.shape, df_resb.shape, df_parc.shape, df_look.shape

((351067, 24), (181510, 50), (205199, 82), (1208, 3))

#### Checking NaNs

In [4]:
# checking columns and nulls
df_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351067 entries, 0 to 351066
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ExciseTaxNbr        351067 non-null  object
 1   Major               351067 non-null  object
 2   Minor               351067 non-null  object
 3   DocumentDate        351067 non-null  object
 4   SalePrice           351067 non-null  object
 5   RecordingNbr        351067 non-null  object
 6   Volume              351067 non-null  object
 7   Page                351067 non-null  object
 8   PlatNbr             351067 non-null  object
 9   PlatType            351067 non-null  object
 10  PlatLot             351067 non-null  object
 11  PlatBlock           351067 non-null  object
 12  SellerName          351067 non-null  object
 13  BuyerName           351067 non-null  object
 14  PropertyType        351067 non-null  object
 15  PrincipalUse        351067 non-null  object
 16  SaleInstrument      351067 non-null  object
 17  AFForestLand        351067 non-null  object
 18  AFCurrentUseLand    351067 non-null  object
 19  AFNonProfitUse      351067 non-null  object
 20  AFHistoricProperty  351067 non-null  object
 21  SaleReason          351067 non-null  object
 22  PropertyClass       351067 non-null  object
 23  SaleWarning         351067 non-null  object
dtypes: object(24)
memory usage: 64.3+ MB

In [5]:
# checking columns and nulls
df_resb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181510 entries, 0 to 181509
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Major               181510 non-null  object
 1   Minor               181510 non-null  object
 2   BldgNbr             181510 non-null  object
 3   NbrLivingUnits      181510 non-null  object
 4   Address             181510 non-null  object
 5   BuildingNumber      181510 non-null  object
 6   Fraction            181510 non-null  object
 7   DirectionPrefix     181146 non-null  object
 8   StreetName          181510 non-null  object
 9   StreetType          181510 non-null  object
 10  DirectionSuffix     181146 non-null  object
 11  ZipCode             154594 non-null  object
 12  Stories             181510 non-null  object
 13  BldgGrade           181510 non-null  object
 14  BldgGradeVar        181510 non-null  object
 15  SqFt1stFloor        181510 non-null  object
 16  SqFtHalfFloor       181510 non-null  object
 17  SqFt2ndFloor        181510 non-null  object
 18  SqFtUpperFloor      181510 non-null  object
 19  SqFtUnfinFull       181510 non-null  object
 20  SqFtUnfinHalf       181510 non-null  object
 21  SqFtTotLiving       181510 non-null  object
 22  SqFtTotBasement     181510 non-null  object
 23  SqFtFinBasement     181510 non-null  object
 24  FinBasementGrade    181510 non-null  object
 25  SqFtGarageBasement  181510 non-null  object
 26  SqFtGarageAttached  181510 non-null  object
 27  DaylightBasement    181510 non-null  object
 28  SqFtOpenPorch       181510 non-null  object
 29  SqFtEnclosedPorch   181510 non-null  object
 30  SqFtDeck            181510 non-null  object
 31  HeatSystem          181510 non-null  object
 32  HeatSource          181510 non-null  object
 33  BrickStone          181510 non-null  object
 34  ViewUtilization     181510 non-null  object
 35  Bedrooms            181510 non-null  object
 36  BathHalfCount       181510 non-null  object
 37  Bath3qtrCount       181510 non-null  object
 38  BathFullCount       181510 non-null  object
 39  FpSingleStory       181510 non-null  object
 40  FpMultiStory        181510 non-null  object
 41  FpFreestanding      181510 non-null  object
 42  FpAdditional        181510 non-null  object
 43  YrBuilt             181510 non-null  object
 44  YrRenovated         181510 non-null  object
 45  PcntComplete        181510 non-null  object
 46  Obsolescence        181510 non-null  object
 47  PcntNetCondition    181510 non-null  object
 48  Condition           181510 non-null  object
 49  AddnlCost           181510 non-null  object
dtypes: object(50)
memory usage: 69.2+ MB

In [6]:
# checking columns and nulls
df_parc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205199 entries, 0 to 205198
Data columns (total 82 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              205199 non-null  object
 1   Major                   205199 non-null  object
 2   Minor                   205199 non-null  object
 3   PropName                196088 non-null  object
 4   PlatName                176654 non-null  object
 5   PlatLot                 205199 non-null  object
 6   PlatBlock               205199 non-null  object
 7   Range                   205199 non-null  object
 8   Township                205199 non-null  object
 9   Section                 205199 non-null  object
 10  QuarterSection          205199 non-null  object
 11  PropType                205199 non-null  object
 12  Area                    205193 non-null  object
 13  SubArea                 205193 non-null  object
 14  SpecArea                4864 non-null    object
 15  SpecSubArea             4864 non-null    object
 16  DistrictName            205199 non-null  object
 17  LevyCode                205199 non-null  object
 18  CurrentZoning           205199 non-null  object
 19  HBUAsIfVacant           205199 non-null  object
 20  HBUAsImproved           205199 non-null  object
 21  PresentUse              205199 non-null  object
 22  SqFtLot                 205199 non-null  object
 23  WaterSystem             205199 non-null  object
 24  SewerSystem             205199 non-null  object
 25  Access                  205199 non-null  object
 26  Topography              205199 non-null  object
 27  StreetSurface           205199 non-null  object
 28  RestrictiveSzShape      205199 non-null  object
 29  InadequateParking       205199 non-null  object
 30  PcntUnusable            205199 non-null  object
 31  Unbuildable             205199 non-null  object
 32  MtRainier               205199 non-null  object
 33  Olympics                205199 non-null  object
 34  Cascades                205199 non-null  object
 35  Territorial             205199 non-null  object
 36  SeattleSkyline          205199 non-null  object
 37  PugetSound              205199 non-null  object
 38  LakeWashington          205199 non-null  object
 39  LakeSammamish           205199 non-null  object
 40  SmallLakeRiverCreek     205199 non-null  object
 41  OtherView               205199 non-null  object
 42  WfntLocation            205199 non-null  object
 43  WfntFootage             205199 non-null  object
 44  WfntBank                205199 non-null  object
 45  WfntPoorQuality         205199 non-null  object
 46  WfntRestrictedAccess    205199 non-null  object
 47  WfntAccessRights        205199 non-null  object
 48  WfntProximityInfluence  205199 non-null  object
 49  TidelandShoreland       205199 non-null  object
 50  LotDepthFactor          205199 non-null  object
 51  TrafficNoise            205199 non-null  object
 52  AirportNoise            205199 non-null  object
 53  PowerLines              205199 non-null  object
 54  OtherNuisances          205199 non-null  object
 55  NbrBldgSites            205199 non-null  object
 56  Contamination           205199 non-null  object
 57  DNRLease                205199 non-null  object
 58  AdjacentGolfFairway     205199 non-null  object
 59  AdjacentGreenbelt       205199 non-null  object
 60  HistoricSite            205199 non-null  object
 61  CurrentUseDesignation   205199 non-null  object
 62  NativeGrowthProtEsmt    205199 non-null  object
 63  Easements               205199 non-null  object
 64  OtherDesignation        205199 non-null  object
 65  DeedRestrictions        205199 non-null  object
 66  DevelopmentRightsPurch  205199 non-null  object
 67  CoalMineHazard          205199 non-null  object
 68  CriticalDrainage        205199 non-null  object
 69  ErosionHazard           205199 non-null  object
 70  LandfillBuffer          205199 non-null  object
 71  HundredYrFloodPlain     205199 non-null  object
 72  SeismicHazard           205199 non-null  object
 73  LandslideHazard         205199 non-null  object
 74  SteepSlopeHazard        205199 non-null  object
 75  Stream                  205199 non-null  object
 76  Wetland                 205199 non-null  object
 77  SpeciesOfConcern        205199 non-null  object
 78  SensitiveAreaTract      205199 non-null  object
 79  WaterProblems           205199 non-null  object
 80  TranspConcurrency       205199 non-null  object
 81  OtherProblems           205199 non-null  object
dtypes: object(82)
memory usage: 128.4+ MB

#### Checking Problematic Columns

Checking columns and dropping an extraneous column form the data frame.

In [7]:
# checking problematic columns
df_prob = df_parc[['Unnamed: 0', 'PropName', 'PlatName', 'Area', 'SubArea', 'SpecArea', 'SpecSubArea' ]]
df_prob.head()

,Unnamed: 0,PropName,PlatName,Area,SubArea,SpecArea,SpecSubArea
0,0,,SUMMER RIDGE DIV NO. 02,35,2,NaN,NaN
1,2,,SANDER'S TO GILMAN PK & SALMON BAY,19,1,NaN,NaN
2,3,,VASHON GARDENS ADD,100,3,NaN,NaN
3,6,,NaN,1,1,NaN,NaN
4,7,,ELDORADO NORTH,37,2,NaN,NaN

In [8]:
#  dropping extraneaous column
df_parc = df_parc.drop('Unnamed: 0', axis=1)

In [9]:
# checking dropped column
df_parc.head(1)

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,807841,0410,,SUMMER RIDGE DIV NO. 02,41,,6,25,22,SW,...,N,N,N,N,N,N,N,N,N,N

#### Checking the Lookup Data Frame

In [10]:
# getting info for lookup data frame
df_look.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LUType         1208 non-null   object
 1   LUItem         1208 non-null   object
 2   LUDescription  1208 non-null   object
dtypes: object(3)
memory usage: 28.4+ KB

In [11]:
# checking first row
df_look.head(1)

  LUType LUItem                                      LUDescription
0    1      1    LAND ONLY                                     ...

#### Merging the Data Frames into a Main Data Frame.

Merged three of the initial data frames into a main data frame and checked ```.info``` and ```.head()```.

In [12]:
# doing a chained merge of the three data frames on the 'Major' and 'Minor' columns
df = pd.merge(pd.merge(df_sale, df_parc, on=['Major', 'Minor']), df_resb, on=['Major', 'Minor'])

In [13]:
# checking info and first few columns
print(df.info())
df.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251300 entries, 0 to 251299
Columns: 151 entries, ExciseTaxNbr to AddnlCost
dtypes: object(151)
memory usage: 291.4+ MB
None

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,1,0,1,1963,0,0,0,0,3,0
1,2743356,638580,0110,07/14/2015,0,20150715002687,,,,,...,1,0,1,1963,0,0,0,0,3,0

## SQL Dataframe

### SQL Prelim Work

#### Created Database
Earlier, wrote up a [DB Creator](DB_Creator.ipynb) notebook and ran it to create a SQL database from the raw ```.csv``` files for use later on in the project.

#### Creating DataFrame From the Database

Importing ```sqlite3```,  connecting to the database, and creating a cursor object. Also, creating a ```fetch()``` function, and joining the database tables into a secondary main data frame. Lastly, checking basic information about the data frame.

In [14]:
# importing sqlite
import sqlite3

# creating database, connection, and cursor
conn = sqlite3.connect('KingDB.db')  
cur = conn.cursor()

# creating query fetch function
def fetch(q):
    """Returns an SQL query."""
    return cur.execute(q).fetchall()

In [16]:
# checking the table names
q = """SELECT name FROM sqlite_master 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1"""
fetch(q)

[('PARC',), ('RESB',), ('SALES',)]

#### Joining The Tables to Create a Data Frame

In [17]:
# joining tables to create dataframe and appending column names
q = """SELECT*FROM SALES AS SA
       JOIN PARC AS PA
       ON SA.Major = PA.Major
       AND SA.Minor = PA.Minor
       JOIN RESB AS RE
       ON PA.Major = RE.Major
       AND PA.Minor = RE.Minor
       """
df2 = pd.DataFrame(fetch(q))
df2.columns = [i[0] for i in cur.description]

In [18]:
# checking info, shape and first row
print(df2.info())
df2.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251300 entries, 0 to 251299
Columns: 156 entries, ExciseTaxNbr to AddnlCost
dtypes: object(156)
memory usage: 299.1+ MB
None

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,1,0,1,1963,0,0,0,0,3,0

In [19]:
# dropping unnamed column found in initial pandas df above
df2 = df2.drop('Unnamed: 0', axis=1)

In [20]:
# checking shape and nulls
print(df2.shape)
df2.isna().sum()

(251300, 155)

ExciseTaxNbr                   0
Major                          0
Minor                          0
DocumentDate                   0
SalePrice                      0
RecordingNbr                   0
Volume                         0
Page                           0
PlatNbr                        0
PlatType                       0
PlatLot                        0
PlatBlock                      0
SellerName                     0
BuyerName                      0
PropertyType                   0
PrincipalUse                   0
SaleInstrument                 0
AFForestLand                   0
AFCurrentUseLand               0
AFNonProfitUse                 0
AFHistoricProperty             0
SaleReason                     0
PropertyClass                  0
SaleWarning                    0
Major                          0
Minor                          0
PropName                   11473
PlatName                   29223
PlatLot                        0
PlatBlock                      0
Range                          0
Township                       0
Section                        0
QuarterSection                 0
PropType                       0
Area                           0
SubArea                        0
SpecArea                  251300
SpecSubArea               251300
DistrictName                   0
LevyCode                       0
CurrentZoning                  0
HBUAsIfVacant                  0
HBUAsImproved                  0
PresentUse                     0
SqFtLot                        0
WaterSystem                    0
SewerSystem                    0
Access                         0
Topography                     0
StreetSurface                  0
RestrictiveSzShape             0
InadequateParking              0
PcntUnusable                   0
Unbuildable                    0
MtRainier                      0
Olympics                       0
Cascades                       0
Territorial                    0
SeattleSkyline                 0
PugetSound                     0
LakeWashington                 0
LakeSammamish                  0
SmallLakeRiverCreek            0
OtherView                      0
WfntLocation                   0
WfntFootage                    0
WfntBank                       0
WfntPoorQuality                0
WfntRestrictedAccess           0
WfntAccessRights               0
WfntProximityInfluence         0
TidelandShoreland              0
LotDepthFactor                 0
TrafficNoise                   0
AirportNoise                   0
PowerLines                     0
OtherNuisances                 0
NbrBldgSites                   0
Contamination                  0
DNRLease                       0
AdjacentGolfFairway            0
AdjacentGreenbelt              0
HistoricSite                   0
CurrentUseDesignation          0
NativeGrowthProtEsmt           0
Easements                      0
OtherDesignation               0
DeedRestrictions               0
DevelopmentRightsPurch         0
CoalMineHazard                 0
CriticalDrainage               0
ErosionHazard                  0
LandfillBuffer                 0
HundredYrFloodPlain            0
SeismicHazard                  0
LandslideHazard                0
SteepSlopeHazard               0
Stream                         0
Wetland                        0
SpeciesOfConcern               0
SensitiveAreaTract             0
WaterProblems                  0
TranspConcurrency              0
OtherProblems                  0
Major                          0
Minor                          0
BldgNbr                        0
NbrLivingUnits                 0
Address                        0
BuildingNumber                 0
Fraction                       0
DirectionPrefix              604
StreetName                     0
StreetType                     0
DirectionSuffix              604
ZipCode                    39980
Stories                        0
BldgGrade                      0
BldgGradeVar                   0
SqFt1stFloor                   0
SqFtHalfFloor                  0
SqFt2ndFloor                   0
SqFtUpperFloor                 0
SqFtUnfinFull                  0
SqFtUnfinHalf                  0
SqFtTotLiving                  0
SqFtTotBasement                0
SqFtFinBasement                0
FinBasementGrade               0
SqFtGarageBasement             0
SqFtGarageAttached             0
DaylightBasement               0
SqFtOpenPorch                  0
SqFtEnclosedPorch              0
SqFtDeck                       0
HeatSystem                     0
HeatSource                     0
BrickStone                     0
ViewUtilization                0
Bedrooms                       0
BathHalfCount                  0
Bath3qtrCount                  0
BathFullCount                  0
FpSingleStory                  0
FpMultiStory                   0
FpFreestanding                 0
FpAdditional                   0
YrBuilt                        0
YrRenovated                    0
PcntComplete                   0
Obsolescence                   0
PcntNetCondition               0
Condition                      0
AddnlCost                      0
dtype: int64

## 2019 Data

Since we want to train our model on 2019 data, we are going to isolate the 2019 information into a new data frame and use it to difine our target and predictors.

#### Light Data Cleaning

Creating a lookup function to make life a little easier for exploring features. Changing datestrings to datetime objects, saleprice strings to floats in the main pandas dataframe. Adding a 'DocumentYear' column to main the data frame. Also stripping blank spaces from the lookup types in the lookup dataframe.

In [21]:
# creating a lookup function
def lookup(code):
    """Returns a data frame with rows containing the specified lookup code."""
    return df_look[df_look['LUType']==f'{code}']

In [22]:
# changing date strings to datetime objects
df.DocumentDate = pd.to_datetime(df.DocumentDate)

# adding a document year column
df['DocumentYear'] = df['DocumentDate'].apply(lambda x: x.year)

# converting SalePrice string to float
df['SalePrice'] = df['SalePrice'].astype('float')

# stripping blank spaces from lookup strings
df_look['LUType'] = df_look['LUType'].apply(lambda x: x.strip())

#### Creating Initial 2019 DataFrame

Creating data frame and checking basic information

In [23]:
# isolating 2019 data
df19 = df[df['DocumentYear']==2019]

In [24]:
# checking data frame shape and looking for NaNs
print(df19.shape)
df19.isna().sum()

(43838, 152)

ExciseTaxNbr                  0
Major                         0
Minor                         0
DocumentDate                  0
SalePrice                     0
RecordingNbr                  0
Volume                        0
Page                          0
PlatNbr                       0
PlatType                      0
PlatLot_x                     0
PlatBlock_x                   0
SellerName                    0
BuyerName                     0
PropertyType                  0
PrincipalUse                  0
SaleInstrument                0
AFForestLand                  0
AFCurrentUseLand              0
AFNonProfitUse                0
AFHistoricProperty            0
SaleReason                    0
PropertyClass                 0
SaleWarning                   0
PropName                   2434
PlatName                   5151
PlatLot_y                     0
PlatBlock_y                   0
Range                         0
Township                      0
Section                       0
QuarterSection                0
PropType                      0
Area                          0
SubArea                       0
SpecArea                  43838
SpecSubArea               43838
DistrictName                  0
LevyCode                      0
CurrentZoning                 0
HBUAsIfVacant                 0
HBUAsImproved                 0
PresentUse                    0
SqFtLot                       0
WaterSystem                   0
SewerSystem                   0
Access                        0
Topography                    0
StreetSurface                 0
RestrictiveSzShape            0
InadequateParking             0
PcntUnusable                  0
Unbuildable                   0
MtRainier                     0
Olympics                      0
Cascades                      0
Territorial                   0
SeattleSkyline                0
PugetSound                    0
LakeWashington                0
LakeSammamish                 0
SmallLakeRiverCreek           0
OtherView                     0
WfntLocation                  0
WfntFootage                   0
WfntBank                      0
WfntPoorQuality               0
WfntRestrictedAccess          0
WfntAccessRights              0
WfntProximityInfluence        0
TidelandShoreland             0
LotDepthFactor                0
TrafficNoise                  0
AirportNoise                  0
PowerLines                    0
OtherNuisances                0
NbrBldgSites                  0
Contamination                 0
DNRLease                      0
AdjacentGolfFairway           0
AdjacentGreenbelt             0
HistoricSite                  0
CurrentUseDesignation         0
NativeGrowthProtEsmt          0
Easements                     0
OtherDesignation              0
DeedRestrictions              0
DevelopmentRightsPurch        0
CoalMineHazard                0
CriticalDrainage              0
ErosionHazard                 0
LandfillBuffer                0
HundredYrFloodPlain           0
SeismicHazard                 0
LandslideHazard               0
SteepSlopeHazard              0
Stream                        0
Wetland                       0
SpeciesOfConcern              0
SensitiveAreaTract            0
WaterProblems                 0
TranspConcurrency             0
OtherProblems                 0
BldgNbr                       0
NbrLivingUnits                0
Address                       0
BuildingNumber                0
Fraction                      0
DirectionPrefix             169
StreetName                    0
StreetType                    0
DirectionSuffix             169
ZipCode                    6616
Stories                       0
BldgGrade                     0
BldgGradeVar                  0
SqFt1stFloor                  0
SqFtHalfFloor                 0
SqFt2ndFloor                  0
SqFtUpperFloor                0
SqFtUnfinFull                 0
SqFtUnfinHalf                 0
SqFtTotLiving                 0
SqFtTotBasement               0
SqFtFinBasement               0
FinBasementGrade              0
SqFtGarageBasement            0
SqFtGarageAttached            0
DaylightBasement              0
SqFtOpenPorch                 0
SqFtEnclosedPorch             0
SqFtDeck                      0
HeatSystem                    0
HeatSource                    0
BrickStone                    0
ViewUtilization               0
Bedrooms                      0
BathHalfCount                 0
Bath3qtrCount                 0
BathFullCount                 0
FpSingleStory                 0
FpMultiStory                  0
FpFreestanding                0
FpAdditional                  0
YrBuilt                       0
YrRenovated                   0
PcntComplete                  0
Obsolescence                  0
PcntNetCondition              0
Condition                     0
AddnlCost                     0
DocumentYear                  0
dtype: int64

In [25]:
# checking first few rows
df19.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,DocumentYear
4,3024468,894677,0240,2019-12-05,0.0,20191209000162,,,,,...,0,0,2016,0,0,0,0,3,0,2019
5,3024469,894677,0240,2019-12-05,0.0,20191209000163,,,,,...,0,0,2016,0,0,0,0,3,0,2019
11,3027422,213043,0120,2019-12-20,560000.0,20191226000848,,,,,...,0,0,1989,0,0,0,0,3,0,2019
12,3002257,940652,0630,2019-07-22,435000.0,20190730001339,,,,,...,0,0,1994,0,0,0,0,3,2500,2019
22,2993601,140281,0020,2019-06-04,450000.0,20190614000489,,,,,...,0,0,1986,0,0,0,0,3,0,2019

#### Creating a 2019 Dataframe with Non-Zero Sale Prices

Creating data frame and checking basic information

In [26]:
# creating a datafrme of 2019 data with non-zero sale prices
nz19 = df19[df19['SalePrice'] != 0]

In [27]:
# checking shape and first few rows
print(nz19.shape)
nz19.head()

(29944, 152)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,DocumentYear
11,3027422,213043,0120,2019-12-20,560000.0,20191226000848,,,,,...,0,0,1989,0,0,0,0,3,0,2019
12,3002257,940652,0630,2019-07-22,435000.0,20190730001339,,,,,...,0,0,1994,0,0,0,0,3,2500,2019
22,2993601,140281,0020,2019-06-04,450000.0,20190614000489,,,,,...,0,0,1986,0,0,0,0,3,0,2019
29,3002772,175070,0050,2019-07-26,812000.0,20190801000556,,,,,...,0,0,1947,0,0,0,0,5,0,2019
39,3014535,287860,1145,2019-09-23,749950.0,20191009001321,,,,,...,0,0,1906,0,0,0,0,4,0,2019

In [28]:
# checking for NaNs
df.isna().sum()

ExciseTaxNbr                   0
Major                          0
Minor                          0
DocumentDate                   0
SalePrice                      0
RecordingNbr                   0
Volume                         0
Page                           0
PlatNbr                        0
PlatType                       0
PlatLot_x                      0
PlatBlock_x                    0
SellerName                     0
BuyerName                      0
PropertyType                   0
PrincipalUse                   0
SaleInstrument                 0
AFForestLand                   0
AFCurrentUseLand               0
AFNonProfitUse                 0
AFHistoricProperty             0
SaleReason                     0
PropertyClass                  0
SaleWarning                    0
PropName                   11473
PlatName                   29223
PlatLot_y                      0
PlatBlock_y                    0
Range                          0
Township                       0
Section                        0
QuarterSection                 0
PropType                       0
Area                           0
SubArea                        0
SpecArea                  251300
SpecSubArea               251300
DistrictName                   0
LevyCode                       0
CurrentZoning                  0
HBUAsIfVacant                  0
HBUAsImproved                  0
PresentUse                     0
SqFtLot                        0
WaterSystem                    0
SewerSystem                    0
Access                         0
Topography                     0
StreetSurface                  0
RestrictiveSzShape             0
InadequateParking              0
PcntUnusable                   0
Unbuildable                    0
MtRainier                      0
Olympics                       0
Cascades                       0
Territorial                    0
SeattleSkyline                 0
PugetSound                     0
LakeWashington                 0
LakeSammamish                  0
SmallLakeRiverCreek            0
OtherView                      0
WfntLocation                   0
WfntFootage                    0
WfntBank                       0
WfntPoorQuality                0
WfntRestrictedAccess           0
WfntAccessRights               0
WfntProximityInfluence         0
TidelandShoreland              0
LotDepthFactor                 0
TrafficNoise                   0
AirportNoise                   0
PowerLines                     0
OtherNuisances                 0
NbrBldgSites                   0
Contamination                  0
DNRLease                       0
AdjacentGolfFairway            0
AdjacentGreenbelt              0
HistoricSite                   0
CurrentUseDesignation          0
NativeGrowthProtEsmt           0
Easements                      0
OtherDesignation               0
DeedRestrictions               0
DevelopmentRightsPurch         0
CoalMineHazard                 0
CriticalDrainage               0
ErosionHazard                  0
LandfillBuffer                 0
HundredYrFloodPlain            0
SeismicHazard                  0
LandslideHazard                0
SteepSlopeHazard               0
Stream                         0
Wetland                        0
SpeciesOfConcern               0
SensitiveAreaTract             0
WaterProblems                  0
TranspConcurrency              0
OtherProblems                  0
BldgNbr                        0
NbrLivingUnits                 0
Address                        0
BuildingNumber                 0
Fraction                       0
DirectionPrefix              604
StreetName                     0
StreetType                     0
DirectionSuffix              604
ZipCode                    39980
Stories                        0
BldgGrade                      0
BldgGradeVar                   0
SqFt1stFloor                   0
SqFtHalfFloor                  0
SqFt2ndFloor                   0
SqFtUpperFloor                 0
SqFtUnfinFull                  0
SqFtUnfinHalf                  0
SqFtTotLiving                  0
SqFtTotBasement                0
SqFtFinBasement                0
FinBasementGrade               0
SqFtGarageBasement             0
SqFtGarageAttached             0
DaylightBasement               0
SqFtOpenPorch                  0
SqFtEnclosedPorch              0
SqFtDeck                       0
HeatSystem                     0
HeatSource                     0
BrickStone                     0
ViewUtilization                0
Bedrooms                       0
BathHalfCount                  0
Bath3qtrCount                  0
BathFullCount                  0
FpSingleStory                  0
FpMultiStory                   0
FpFreestanding                 0
FpAdditional                   0
YrBuilt                        0
YrRenovated                    0
PcntComplete                   0
Obsolescence                   0
PcntNetCondition               0
Condition                      0
AddnlCost                      0
DocumentYear                   0
dtype: int64

### Isolating Target and Initial Predictors

Since two of the questions we want to answer relate to the HeatSystem and SqFtEnclosedPorch features, we are going to isolate them into seperate dataframes along with our SalePrice target variable.

#### HeatSystem Dataframe

In [29]:
# isolating SalePrice target and HeatSystem predictor
p_dfh = nz19[['SalePrice', 'HeatSystem']].copy()
p_dfh.head()

    SalePrice HeatSystem
11   560000.0          5
12   435000.0          5
22   450000.0          1
29   812000.0          5
39   749950.0          5

In [30]:
# looking up HeatSystem codes
lookup(108)

    LUType LUItem                                      LUDescription
243    108    1    Floor-Wall                                    ...
244    108    2    Gravity                                       ...
245    108    3    Radiant                                       ...
246    108    4    Elec BB                                       ...
247    108    5    Forced Air                                    ...
248    108    6    Hot Water                                     ...
249    108    7    Heat Pump                                     ...
250    108    8    Other                                         ...

#### EnclosedPoarch Dataframe

In [31]:
# isolating SalePrice target and SqFtEnclosedPorch predictor
p_dfp = nz19[['SalePrice', 'SqFtEnclosedPorch']].copy()
p_dfp.head()

    SalePrice SqFtEnclosedPorch
11   560000.0                 0
12   435000.0                 0
22   450000.0                 0
29   812000.0                 0
39   749950.0                 0